*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background: rgba(235,0,255,0.11);
}
.container{
  background-color: rgba(0,0,0,0.3);
  height: 500px;
  width: 400px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(20px);
  border-radius: 40px;
  border: 3px solid gray;
  box-shadow: 20px 20px 50px black;
}
h2{
  text-transform: uppercase;
  padding: 20px 0;
  font-size: 40px;
}
.info{
  position: relative;
  background-color: rgb(7, 78, 78);
  width: 330px;
  margin: 30px 0;
}
.info input{
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  padding: o 30px 0 10px;
}
.info label{
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50px);
  font-size: 18px;
  transition: 0.5s;
}
p{
  text-align: center;
  color: white;
  padding: 10px 0;
  font-size: 16px;
}
p>a{
  color: goldenrod;
  font-weight: 600px;
}
p>a:hover{
  text-decoration: underline white ;
}
#btn{
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600px;
  cursor: pointer;
}
#btn:hover{
  background-color: rgba(207, 23, 23, 0.3);
  color: white;
}
input:focus ~ label,
input:valid ~ label{
  top: -5px;
}